html, body {
  height: 100%;
  margin: 0;
  background-color: rgb(99, 123, 135); /* Light gray background for the whole page, 188, 213, 236 */
}

.section {
  margin: 50px 50px; /* Padding for sections */
}